<div id="main-container" class="main-container">
  <div class="buttons-container">
    <div class="nav-button-container">
      <span>
        <%= icon('fas', 'home', class: 'nav-button nav-button-home', id: 'nav-button-home', data: { goto: 'home' }) %>
        <h4>Inicio</h4>
      </span>
    </div>
    <% if @user.id %>
    <div class="nav-button-container">
      <span>
        <%= icon('fas', 'user', class: 'nav-button nav-button-perfil', id: 'nav-button-perfil', data: { goto: 'perfil', titulo: 'Mi Perfil' }) %>
        <h4>Perfil</h4>
      </span>
    </div>
    <% end %>
    <div class="nav-button-container">
      <span>
        <%= icon('fas', 'users', class: 'nav-button nav-button-quienes-somos', id: 'nav-button-quienes-somos', data: { goto: 'quienes-somos', titulo: 'Quienes Somos' }) %>
        <h4>Nosotros</h4>
      </span>
    </div>
    <div class="nav-button-container">
      <span>
        <%= icon('fas', 'address-book', class: 'nav-button nav-button-contacto', id: 'nav-button-contacto', data: { goto: 'contacto', titulo: 'Contacto' }) %>
        <h4>Contacto</h4>
      </span>
    </div>
    <div class="nav-button-container">
      <span>
        <% if @user.id %>
        <%= link_to icon('fas', 'sign-out-alt', class: 'nav-button nav-button-logout', id: 'nav-button-logout', data: { goto: 'logout' }),
                      logout_path,
                      data: { confirm: 'Esta acción terminará su sesión actual. ¿Desea continuar?' },
                      remote: true,
                      method: :delete %>
        <% else %>
        <%= icon('fas', 'sign-in-alt', class: 'nav-button nav-button-login', id: 'nav-button-login', data: { goto: 'login' }) %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="nav-button-container nav-button-publicaciones-container">
    <%= icon('fas', 'angle-up', class: 'nav-button nav-button-up', id: 'nav-button-publicaciones', data: { goto: 'publicaciones', titulo: 'Publicaciones' }) %>
    <h2>Publicaciones</h2>
  </div>
  <div class="titulo">
    <h1 class="titulo-seccion"></h1>
    <h2 class="subtitulo-seccion"></h2>
  </div>
  <div class="nav-button-container nav-button-metodologias-container">
    <%= icon('fas', 'angle-left', class: 'nav-button nav-button-left', id: 'nav-button-metodologias', data: { goto: 'metodologias', titulo: 'Metodologías' }) %>
    <h2>Metodologías</h2>
  </div>
  <div id="inicio-container" class="inner-container shown">
    <%= render 'inicio' %>
  </div>
  <div id="videos-container" class="inner-container hidden">
    <%= render 'videos' %>
  </div>
  <div id="articulos-container" class="inner-container hidden">
    <%= render 'articulos' %>
  </div>
  <div id="archivos-container" class="inner-container hidden">
    <%= render 'archivos' %>
  </div>
  <div id="archivos-audiovisual-container" class="inner-container hidden">
    <%= render 'archivos_audiovisual' %>
  </div>
  <div id="archivos-prensa-container" class="inner-container hidden">
    <%= render 'archivos_prensa' %>
  </div>
  <div id="archivo-container" class="inner-container hidden">
    <%= render 'archivo' %>
  </div>
  <div id="login-container" class="inner-container hidden">
    <%= render 'login' %>
  </div>
  <div id="perfil-container" class="inner-container hidden">
    <%= render 'perfil' %>
  </div>
  <div id="prensa-container" class="inner-container hidden">
    <%= render 'prensa' %>
  </div>
  <div id="quienes-somos-container" class="inner-container hidden">
    <%= render 'quienes_somos' %>
  </div>
  <div id="proyectos-container" class="inner-container hidden">
    <%= render 'proyectos' %>
  </div>
  <div id="publicaciones-container" class="inner-container hidden">
    <%= render 'publicaciones' %>
  </div>
  <div id="publicaciones-audiovisuales-container" class="inner-container hidden">
    <%= render 'publicaciones_audiovisuales' %>
  </div>
  <div id="publicaciones-articulos-container" class="inner-container hidden">
    <%= render 'publicaciones_articulos' %>
  </div>
  <div id="publicaciones-ponencias-container" class="inner-container hidden">
    <%= render 'publicaciones_ponencias' %>
  </div>
  <div id="home-container" class="inner-container shown">
    <%= render 'home' %>
  </div>
  <div id="contacto-container" class="inner-container hidden">
    <%= render 'contacto' %>
  </div>
  <div class="nav-button-container nav-button-archivos-container">
    <%= icon('fas', 'angle-right', class: 'nav-button nav-button-right', id: 'nav-button-archivos', data: { goto: 'archivos', titulo: 'Archivos' }) %>
    <h2>Archivos</h2>
  </div>
  <div class="nav-button-container nav-button-proyectos-container">
    <%= icon('fas', 'angle-down', class: 'nav-button nav-button-down', id: 'nav-button-proyectos', data: { goto: 'proyectos', titulo: 'Proyectos' }) %>
    <h2>Proyectos</h2>
  </div>
</div>
