<div id="main-container" class="main-container">
  <%= icon('fas', 'home', class: 'nav-button nav-button-inicio', id: 'nav-button-inicio', data: { goto: 'inicio' }) %>
  <%= icon('fas', 'angle-up', class: 'nav-button nav-button-up', id: 'nav-button-videos', data: { goto: 'videos' }) %>
  <%= icon('fas', 'angle-left', class: 'nav-button nav-button-left', id: 'nav-button-prensa', data: { goto: 'prensa' }) %>
  <div id="inicio-container" class="inner-container shown">
    <%= render 'inicio' %>
  </div>
  <div id="videos-container" class="inner-container hidden">
    <%= render 'videos' %>
  </div>
  <div id="articulos-container" class="inner-container hidden">
    <%= render 'articulos' %>
  </div>
  <div id="archivos-container" class="inner-container hidden">
    <%= render 'archivos' %>
  </div>
  <div id="archivo-container" class="inner-container hidden">
    <%= render 'archivo' %>
  </div>
  <div id="login-container" class="inner-container hidden">
    <%= render 'login' %>
  </div>
  <div id="prensa-container" class="inner-container hidden">
    <%= render 'prensa' %>
  </div>
  <%= icon('fas', 'angle-right', class: 'nav-button nav-button-right', id: 'nav-button-articulos', data: { goto: 'articulos' }) %>
  <%= icon('fas', 'angle-down', class: 'nav-button nav-button-down', id: 'nav-button-archivos', data: { goto: 'archivos' }) %>
  <% if @user.id %>
  <%= link_to icon('fas', 'sign-out-alt', class: 'nav-button nav-button-logout', id: 'nav-button-logout', data: { goto: 'logout' }),
        logout_path, data: { confirm: 'Esta acción terminará su sesión actual. ¿Desea continuar?' }, remote: true, method: :delete %>
  <% else %>
  <%= icon('fas', 'user', class: 'nav-button nav-button-login', id: 'nav-button-login', data: { goto: 'login' }) %>
  <% end %>
</div>
